$primary_color: #FCEED5;
$secondary_color: #003459;
$font: 'Gilroy', sans-serif;
$radius: 30px;
$text-white: white;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin btn {
    border-radius: $radius;
    cursor: pointer;
    display:flex;
    font-weight: 500;
    align-items: center;
    border: 1px solid $secondary_color;
    padding-block: 15px;
    width: 170px;
    justify-content: center;
    gap: 15px;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "Gilroy";
    src:
    url(assets/fonts/Gilroy_font/Gilroy-Regular.ttf) format('truetype');    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(assets/fonts/Gilroy_font/Gilroy-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src:
    url(assets/fonts/Gilroy_font/Gilroy-Heavy.ttf) format('truetype');    
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: 
    url(assets/fonts/Gilroy_font/Gilroy-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: 
    url(assets/fonts/Gilroy_font/Gilroy-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}




body{
    background-color: $primary_color;
    font-family: $font;
}

header {
    font-family: $font;
    font-weight: 700;
    color: $secondary_color;
    padding:50px;
    // background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
        display: flex ;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-inline: 200px;
        flex-wrap: wrap;


        &__logo img{
            cursor: pointer;
            width: 150px;
            // margin-right: 150px;
        }

        &__list{
            // margin-right: 150px;
            &__ul{
            display: flex;
            gap: 60px;
            list-style-type: none;
            &__li {
                cursor: pointer;
            }
            &__li:hover {
                text-decoration: underline;
            }
        }
        }
        
        &__button {
            display: flex;
            align-items: center;
            gap: 30px;
            // margin-left: 150px;

            &__search {
                padding: 10px 20px;
                border-radius: 30px;
                background-color: white;
                display: flex;
                align-items: center;
                gap: 15px;
                width: 350px;
                & input {
                    padding: 5px ;
                    font-family: $font;
                    font-weight: 500;
                    color: inherit;
                    border: none;
                    width: 90%;
                }
                & input:focus {
                    border: none;
                    outline: none;
                }
                & img {
                    width: 20px;
                }
            }
            &__login {
                background-color: $secondary_color;
                color: white;
                cursor: pointer;
                padding: 15px 80px;
                border-radius: 30px;
                text-decoration: none;

                & a {
                    text-decoration: none;
                    color: white;
                }
                & a:hover {
                    text-decoration: underline;
                    
                }
            }
        }
    }



}

main {
    
    width: 100%;
    .container {
        @include flex-between;
        align-items: flex-start;
        width: 100%;
        .title {
            font-family: $font;
            font-weight: 700;
            color: $secondary_color;
            padding-left: 200px;
            @include flex-column;
            align-items: center;
            padding-top: 100px;

            &__h1 {
                font-weight: 800;
                font-size: 5rem;
            }
            &__h2 {
                font-weight: 700;
                font-size: 4rem;
            }

            &__p {
                padding-block: 40px;
                font-weight: 500;
                font-size: 1rem;
            }

            &__btn {

                display: flex;
                gap: 30px;
                &__intro {
                    @include btn;
                    gap: 15px;
                    
                    background-color: $primary_color;

                    & img {
                        border: 1px solid $secondary_color;
                        border-radius: 50%;
                    }
                }

                &__explore {
                    @include btn;
                    gap: 15px;
                    justify-content: center;
                    background-color: $secondary_color;
                    color: white;
                }
            }
        }   
    }

    .article {
        margin: auto;
        width: 100%;
        background-color: #FDFDFD;
        padding: 50px 200px;

        &__pres {
            @include flex-between;
            align-items: flex-end;

            &__p{   
                color: black;
                font-weight: 500;
                font-size: 1.2rem;   
            }
            &__h2 {
                margin-top: 5px;
                color: $secondary_color;
                font-weight: 700;
                font-size: 2rem;  

            }

            &__btn {
                    @include btn;                
            }
        }
        
        &__container {
            @include flex-between;
            flex-wrap: wrap;
            margin-top: 20px;

            &__box {
                padding: 10px;
                background-color: white;
                border-radius: 15px;
                margin-top: 40px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
             
                &__h3 {
                    font-weight: 700;
                    color: $secondary_color;
                    padding-block: 20px;
                    font-size: 1.3rem;

                }

                &__p {

                    color: #667479;
                    font-weight: 500;
                    span{
                        font-weight: 700;
                    }
                }
            }
        }

        .friend {
            @include flex-between;
            align-items: center;
            font-family: $font;
            color: $secondary_color;
            background-color: $primary_color;
            border-radius: 30px;
            margin-top: 60px;
            &__more {
                @include flex-column;
                align-items: flex-end;
                margin-right: 100px;

                &__h1 {
                font-weight: 800;
                font-size: 4rem;
            }
            &__h2 {
                font-weight: 700;
                font-size: 3rem;
            }

            &__p {
                padding-block: 20px;
                font-weight: 500;
                font-size: 1rem;
                text-align: end;
            }

            &__btn {
                font-weight: 500;
                display: flex;
                gap: 30px;
                cursor: pointer;
                &__intro {
                    @include btn;
                    & img {
                        border: 1px solid $secondary_color;
                        border-radius: 50%;
                    }
                }

                &__explore {
                    @include btn;
                    background-color: $secondary_color;
                    color: white;

                }
            }


            }
        }

        

        &__know {
            @include flex-between;
            align-items: flex-end;
            margin-top: 50px;

            &__p{
                color: black;
                font-weight: 500;
                font-size: 1.2rem;   
            }
            &__h2 {
                margin-top: 5px;
                color: $secondary_color;
                font-weight: 700;
                font-size: 2rem;  

            }

            &__btn {
                @include btn;
            }
        }


        .knowledge {
            @include flex-between;
            margin-top: 20px;
            &__box {
                @include flex-column;
                width: 32%;
                padding: 10px;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

                &__label{
                    padding:5px;
                    border-radius: 30px;
                    background-color: #00A7E7;
                    display: inline-block;
                    color: white;
                    margin-top: 10px;
                    width: 40%;
                    text-align: center;
                }
                &__h3{
                    font-weight: 700;
                    color: $secondary_color;
                    padding-block: 20px;
                    font-size: 1.3rem;
                }
                 &__p {

                    color: black;
                    font-weight: 500;
                    
                }
            }

        }
    }


}

.footer {
    background-color: $primary_color;
    padding: 80px 200px;

    


    .register {
        background-color: $secondary_color;
        @include flex-center;
        justify-content: space-around;
        padding: 50px 20px;
        border-radius: 20px;
        gap: 10px;

        &__h2 {
            color: white;
            width: 30%;
            font-size: 1.8rem;
        }

        &__input {
            @include flex-center;
            border-radius: 10px;
            width: 60%;
            padding: 15px;
            background-color: white;
            gap: 10px;
            
            &__mail {
            font-size: 1.3rem;
                padding: 20px 30px;
                width: 70%;
                border: 1px solid #99A2A5;
                border-radius: 10px;
                color: $secondary_color;
                font-family: $font ;
                font-weight: 700;
            }

            &__btn {
                width: 30%;
                font-size: 1.3rem;
                text-align: center;
                background-color: $secondary_color;
                color: white;
                font-weight: 600;
                padding: 20px 10px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }


    &__nav {
        padding-block: 40px;
        @include flex-between;

        &__list {
            display: flex;
            gap: 60px;
            font-size: 1.5rem;

            a{
                text-decoration: none;
                color: $secondary_color
            }
            a:hover {
                text-decoration: underline;
            }
        }

        &__social {
            display: flex;
            color: $secondary_color;
            gap: 40px; 
            margin-right: 80px;

        }
    }

    &__end {
        @include flex-between;
        align-items: center;
        color: #99A2A5;
        padding-block:40px ;
        font-weight: 600;

        img{
            width: 150px;
        }
        &__priv {
            display: flex;
            gap: 40px;
        }
    }
}