* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url(assets/fonts/Gilroy_font/Gilroy-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(assets/fonts/Gilroy_font/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(assets/fonts/Gilroy_font/Gilroy-Heavy.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(assets/fonts/Gilroy_font/Gilroy-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(assets/fonts/Gilroy_font/Gilroy-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: #FCEED5;
  font-family: "Gilroy", sans-serif;
}

header {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #003459;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline: 200px;
  flex-wrap: wrap;
}
header .nav__logo img {
  cursor: pointer;
  width: 150px;
}
header .nav__list__ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
header .nav__list__ul__li {
  cursor: pointer;
}
header .nav__list__ul__li:hover {
  text-decoration: underline;
}
header .nav__button {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .nav__button__search {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  gap: 15px;
  border-radius: 30px;
  width: 350px;
}
header .nav__button__search input {
  padding: 5px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  color: inherit;
  border: none;
  width: 90%;
}
header .nav__button__search input:focus {
  border: none;
  outline: none;
}
header .nav__button__search img {
  width: 20px;
}
header .nav__button__login {
  background-color: #003459;
  color: white;
  cursor: pointer;
  padding: 15px 80px;
  border-radius: 30px;
  text-decoration: none;
}
header .nav__button__login a {
  text-decoration: none;
  color: white;
}
header .nav__button__login a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
}
main .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
main .container .title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #003459;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
main .container .title__h1 {
  font-weight: 800;
  font-size: 5rem;
}
main .container .title__h2 {
  font-weight: 700;
  font-size: 4rem;
}
main .container .title__p {
  padding-block: 40px;
  font-weight: 500;
  font-size: 1rem;
}
main .container .title__btn {
  font-weight: 500;
  display: flex;
  gap: 30px;
  cursor: pointer;
}
main .container .title__btn__intro {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #003459;
  padding-block: 15px;
  border-radius: 30px;
  width: 170px;
}
main .container .title__btn__intro p:hover {
  text-decoration: underline;
}
main .container .title__btn__intro img {
  border: 1px solid #003459;
  border-radius: 50%;
}
main .container .title__btn__explore {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #003459;
  background-color: #003459;
  padding-block: 15px;
  border-radius: 30px;
  width: 170px;
  color: white;
}
main .container .title__btn__explore p:hover {
  cursor: pointer;
  text-decoration: underline;
}
main .article {
  margin: auto;
  width: 100%;
  background-color: #FDFDFD;
  padding: 50px 200px;
}
main .article__pres {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .article__pres__p {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}
main .article__pres__h2 {
  margin-top: 5px;
  color: #003459;
  font-weight: 700;
  font-size: 2rem;
}
main .article__pres__btn {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #003459;
  padding-block: 15px;
  border-radius: 30px;
  width: 170px;
}
main .article__pres__btn p {
  color: #003459;
  font-weight: 500;
}
main .article__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
main .article__container__box {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
main .article__container__box__h3 {
  font-weight: 700;
  color: #003459;
  padding-block: 20px;
  font-size: 1.3rem;
}
main .article__container__box__p {
  color: #667479;
  font-weight: 500;
}
main .article__container__box__p span {
  font-weight: 700;
}
main .article .friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gilroy", sans-serif;
  color: #003459;
  background-color: #FCEED5;
  border-radius: 30px;
  margin-top: 60px;
}
main .article .friend__more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
}
main .article .friend__more__h1 {
  font-weight: 800;
  font-size: 4rem;
}
main .article .friend__more__h2 {
  font-weight: 700;
  font-size: 3rem;
}
main .article .friend__more__p {
  padding-block: 20px;
  font-weight: 500;
  font-size: 1rem;
  text-align: end;
}
main .article .friend__more__btn {
  font-weight: 500;
  display: flex;
  gap: 30px;
  cursor: pointer;
}
main .article .friend__more__btn__intro {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #003459;
  padding-block: 15px;
  border-radius: 30px;
  width: 170px;
}
main .article .friend__more__btn__intro p:hover {
  text-decoration: underline;
}
main .article .friend__more__btn__intro img {
  border: 1px solid #003459;
  border-radius: 50%;
}
main .article .friend__more__btn__explore {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #003459;
  background-color: #003459;
  padding-block: 15px;
  border-radius: 30px;
  width: 170px;
  color: white;
}
main .article .friend__more__btn__explore p:hover {
  cursor: pointer;
  text-decoration: underline;
}
main .article__know {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}
main .article__know__p {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}
main .article__know__h2 {
  margin-top: 5px;
  color: #003459;
  font-weight: 700;
  font-size: 2rem;
}
main .article__know__btn {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #003459;
  padding-block: 15px;
  border-radius: 30px;
  width: 170px;
}
main .article__know__btn p {
  color: #003459;
  font-weight: 500;
}
main .article .knowledge {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
main .article .knowledge__box {
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
main .article .knowledge__box__label {
  padding: 5px;
  border-radius: 30px;
  background-color: #00A7E7;
  display: inline-block;
  color: white;
  margin-top: 10px;
  width: 40%;
  text-align: center;
}
main .article .knowledge__box__h3 {
  font-weight: 700;
  color: #003459;
  padding-block: 20px;
  font-size: 1.3rem;
}
main .article .knowledge__box__p {
  color: black;
  font-weight: 500;
}

.footer {
  background-color: #FCEED5;
  padding: 80px 200px;
}
.footer .register {
  background-color: #003459;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  border-radius: 20px;
  gap: 10px;
}
.footer .register__h2 {
  color: white;
  width: 30%;
  font-size: 1.8rem;
}
.footer .register__input {
  border-radius: 10px;
  width: 60%;
  display: flex;
  padding: 15px;
  background-color: white;
  align-items: center;
  gap: 10px;
}
.footer .register__input__mail {
  padding: 20px 30px;
  width: 70%;
  border: 1px solid #99A2A5;
  border-radius: 10px;
  color: #003459;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
}
.footer .register__input__btn {
  width: 30%;
  text-align: center;
  background-color: #003459;
  color: white;
  padding: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.footer__nav {
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__nav__list {
  display: flex;
  gap: 60px;
  font-size: 1.5rem;
}
.footer__nav__list a {
  text-decoration: none;
  color: #003459;
}
.footer__nav__social {
  display: flex;
  color: #003459;
  gap: 40px;
  margin-right: 80px;
}
.footer__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #99A2A5;
  padding-block: 40px;
  font-weight: 600;
}
.footer__end img {
  width: 150px;
}
.footer__end__priv {
  display: flex;
  gap: 40px;
}

/*# sourceMappingURL=style.css.map */
